{% extends "base.html"%}
{% block body%}

{% if v.errors%}
    <p>数据出错啦，错误信息：{{v.errors}}</p>
{% else%}
    <form action="" method="post">
        {% csrf_token%}
        <table>
            {{ v.as_table}}
        </table>
        <input type="submit" value="提交">
    </form>
{% endif%}


<!--添加一条，源码分析form,表单优化-->
<br>
{% if v_form.errors%}
    <p>数据出错啦，错误信息：{{v_form.errors}}</p>
{% else%}
    <form action="" method="post">
        {% csrf_token%}
        <table>
            {{ v_form.as_table}}
        </table>
        <input type="submit" value="提交">
    </form>
{% endif%}

<!--再添加一条，源码分析modelform,表单优化-->
<br>
{% if v_modelform.errors%}
    <p>数据出错啦，错误信息：{{v_modelform.errors}}</p>
{% else%}
    <form action="" method="post">
        {% csrf_token%}
        <table>
            {{ v_modelform.as_table}}
        </table>
        <input type="submit" value="提交">
    </form>
{% endif%}
{% endblock%}